# Ignore node_modules folder
node_modules/

# Ignore IDE configurations
.vscode/
.idea/

# Ignore macOS system files
.DS_Store

# Ignore temporary files
*.tmp
*.bak

# Ignore logs
*.log

# Ignore package and lock files if you want to avoid committing them (less common)
# package.json
# package-lock.json

# Ignore your test files if you don't want to track them (optional)
# test.js

backendpy/

# Ignore any other files or directories that are not part of the project or should not be versioned